* {
  font-family: 'Roboto';
  margin: 0;
}

.CryptocurrencyTracker-con {
  background-color: #000000;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
